{% extends 'base.html' %}

{% block content %}

    <div class="col col-md-6">
    <h6>Analysis for product {{ product }}</h6>
    <table class="col col-md-12">
        <th>
          TWeet Responses
        </th>
        {% for tweet in tweets  %}
          <div class={% if tweet.status == 'pos' %}"alert alert-danger"{% else %}"alert alert-success"{% endif %} role="alert">
            <strong>{{ tweet.reply }}</strong>
          </div>
        {% endfor %}



    </table>
    </div>

{% endblock %}
